@import "mediaquery"

$tobacco: #440505

body
  background-color: $tobacco
  overflow-x: hidden
  margin: 0
  padding: 0

.main-container
  height: 100%
  background-color: white
  margin: 50px
  overflow-x: hidden
  background-size: contain

h3
  font-family: 'Vollkorn SC', serif
  color: black
  padding: 10px
  text-align: center
  font-size: 26px

nav
  padding-top: 40px
  padding-bottom: 20px

nav div
  background: lightgrey
  padding: 0.6em
  display: none

#logo
  img
    padding: 10px 10px 0px 40px



#star-left
  padding-right: 40px

#star-right
  padding-left: 40px


ul
  margin: 0
  padding: 0
  list-style-type: none
  text-align: center
  border-top: dotted 1px $tobacco
  border-bottom: dotted 1.2px $tobacco

  li
    display: inline-block
    #symbol-down
      float: right
      padding-left: 20px
    a
      color: #292929
      text-decoration: none
      padding: 8px
      display: block
      font-family: 'Vollkorn SC', serif

ul li:hover
    border: 1px solid $tobacco



ul ul
  position: absolute
  min-width: 200px
  display: none
  border: $tobacco
  border-style: double
  z-index: 1000
  li
    display: block
    background: white
    border-bottom: 1px solid black
ul ul li:hover
  background-color: $tobacco
  a
   color: white

ul li:hover ul
      display: block


.feature
  background-image: url('../images/gulamsa-tobacco-feature.jpg')
  background-size: cover
  height: 100vh
  position: relative
  background-position: center
  .feature-text
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    text-align: center
    top: 20%
    font-family: 'Bungee Inline', cursive
    font-size: 2.5vw
    color: #efeded
    #gulamsa
      font-family: 'Bungee Shade', cursive
      font-size: 50px
  a
    position: absolute
    bottom: 20px


.brands-container
  height: 40vh
  background-color: $tobacco
.gulamsa-brands
  max-height: 240px
  padding: 20px
  width: 100%
  display: flex
  flex-direction: row
  overflow-x: hidden
  overflow-y: hidden
  align-items: center

.gulamsa-brands  img
    margin-top: 40px
    animation: 20s slider infinite
    position: relative
    padding: 10px
    opacity: 0.5


@keyframes slider
  0%
    left: 0
  25%
    left: 0%
  30%
    left: -100%
  60%
    left: -100%
  75%
    left: -105%
  100%
    left: -105%

.products
  display: flex
  flex-direction: row
  flex-wrap: wrap
  max-width: 1200px
  padding: 10px
  justify-content: center


.product-type
  width: 50%
  min-width: 20%
  height: 300px
  a
    text-decoration: none
    color: $tobacco
    h4
      text-align: center
      margin-top: 25%
      font-size: 20px
      font-family: 'Glegoo', serif
      background-color: white
      padding: 5px
      max-width: 300px


.product-type:first-child
  background-image: url('../images/roll-your-own-tobacco.jpg')
  background-position: center


.product-type:nth-child(2)
  background-image: url('../images/tobacco-pipe.jpg')
  background-position: center
  background-size: cover

.product-type:nth-child(3)
  background-image: url('../images/tobacco-pipe-accessories.jpg')
  background-position: center


.product-type:nth-child(4)
  background-image: url('../images/rolling-paper.jpg')
  background-position: top



.about-gulamsa
  background-image: url('../images/gulamsa-tobacco-about.jpg')
  background-size: cover
  height: 100vh
  position: relative
  background-position: left
  margin-bottom: 50px
  p
    font-size: 17px
    max-width: 600px
    background-color: white
    padding: 10px
    position: absolute
    top: 5%
    left: 20%
    font-family: 'Glegoo', serif
    font-weight: 400
    border: 1px  black
    border-style: inset
    margin-bottom: 30px
  span
    font-size: 26px

.shipping-info
  font-family: 'Glegoo', serif
  font-weight: 400
  // max-width: 840px
  padding: 10px 10px 50px 40px
  display: flex
  justify-content: center
  flex-direction: column
  a
    text-decoration: none
    color: white
    background: #5e0c0b
    font-weight: 700
    max-width: 270px
    padding: 5px
  a:hover
    background: white
    border: 2px solid #440505
    color: #440505


#bold
  font-weight: 700

.ryo-brands, .pipe-tobacco-brands, .ryo-accessories-brands
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 80px
  padding: 10px

.ryo-accordion, .pipetobacco-accordion, .ryo-accessories-accordion
    color: #444
    cursor: pointer
    padding: 10px
    width: 100%
    border: none
    text-align: left
    outline: none
    font-size: 15px
    transition: 0.4s
    border: 2px solid black
    max-width: 800px
    margin-bottom: 20px
    text-transform: uppercase
    font-family: 'Glegoo', serif
    font-weight: 700

.active, .ryo-accordion:hover, .pipetobacco-accordion:hover, .ryo-accessories-accordion:hover
    background-color: black
    color: white


.ryo-accordion:after, .pipetobacco-accordion:after, .ryo-accessories-accordion:after
    content: '\002B'
    color: #777
    font-weight: bold
    float: right
    margin-left: 5px
    font-size: 18px



.active:after
    content: "\2212"
    font-size: 18px


.ryo-panel, .pipetobacco-panel, .ryo-accessories-panel
    padding: 0 18px
    max-height: 0
    overflow: hidden
    transition: max-height 0.2s ease-out
    max-width: 800px
    font-family: 'Glegoo', serif
    font-weight: 400
    text-transform: capitalize


.smoking-pipes
  background-image: url('../images/pipe-tobacco-1.jpg')
  height: 80vh
  background-size: cover

  .pipe-brands
    float: right
    margin-top: 60px
    margin-right: 15%
    color: white
    li
      line-height: 2
      list-style: none
      font-family: 'Glegoo', serif
      font-weight: 400
      text-transform: capitalize

.other-accessories
  display: flex
  width: 100%
  flex-direction: row
  padding: 10px
  flex-wrap: wrap
  justify-content: center
  margin-bottom: 80px

  .other
    display: flex
    flex-direction: column
    width: 270px
    min-width: 150px
    padding: 15px
    margin: 15px
    font-family: 'Glegoo', serif
    font-weight: 400
    text-transform: capitalize
    border: 3px solid $tobacco
    h4
      text-decoration: underline


.contact-gulamsa
  height: 170vh
  background-image: url('../images/gulamsa-tobacco-contact-1.jpg')
  background-size: cover
  position: relative
  background-position: bottom
  margin-bottom: 100px
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  font-family: 'Glegoo', serif
  font-weight: 400
  text-transform: capitalize
  padding-left: 15px
  a.contact-link
    text-decoration: none
    border: 2px solid $tobacco
    color: $tobacco
    padding: 3px
  .contact-link:hover
    background-color: $tobacco
    color: white
  h4
    text-transform: uppercase
    font-weight: 700
.contact-info
  margin-top: 60px


footer
  display: flex
  flex-direction: column
  justify-content: center
  h4
    text-align: center
    font-family: 'Glegoo', serif
    font-weight: 700
  span
    margin: auto
  a
    font-family: 'Glegoo', serif
    font-weight: 400
    text-decoration: none
    color: $tobacco
    font-size: 12px

  #outlet a
    font-size: 15px
    background: $tobacco
    color: white
    padding: 3px 8px
