@media screen and (max-width:864px){

ul {
  display: none;
  position: static;
  background: #e3e3e3;
}

#star-left, #star-right, #logo{
  display: none
}

ul li{
  display: block !important;
}

ul ul{
  position: static !important;
  background: #e3e3e3;
}

nav div{
  display: block !important;
}

/* .closebtn{
  display: block !important;
} */

}
